<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="header">

</head>
<body>
<title>Add a product</title>
<div class="container-wrapper">

    <div class="container">

        <form class="form-horizontal" method="post" th:object="${product}">
            <input type="hidden"  th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <fieldset>

                <!-- Form Name -->
                <legend class="text-center">Add a product</legend>
                <!-- Name input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Product name:</label>
                    <div class="col-md-4">
                        <input required id="name" name="name" placeholder="Name" th:field="*{name}" class="form-control input-md" type="text">
                        <span class="help-block">Please enter the product name.</span>
                        <p style="color:red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" color="red">Invalid Input</p>
                    </div>
                </div>

                <!-- Producer input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="producer">Producer's name:</label>
                    <div class="col-md-4">
                        <input required id="producer" name="producer" placeholder="Producer" th:field="*{producer}" class="form-control input-md" type="text">
                        <span class="help-block">Please enter the producer's name.</span>
                        <p style="color:red;" th:if="${#fields.hasErrors('producer')}" th:errors="*{producer}" color="red">Invalid Input</p>
                    </div>
                </div>

                <!-- Description input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="description">Product description:</label>
                    <div class="col-md-4">
                        <input required id="description" name="description" placeholder="Description" th:field="*{description}" class="form-control input-md" type="text">
                        <span class="help-block">Please enter a description.</span>
                        <p style="color:red;" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" color="red">Invalid Input</p>
                    </div>
                </div>

                <!-- Price input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="price">Product price:</label>
                    <div class="col-md-4">
                        <input required id="price" name="price" placeholder="10.00" th:field="*{price}" min="0" max="999999" pattern="[+]?([0-9]*\.[0-9]+|[0-9]+)" class="form-control input-md" type="text">
                        <span class="help-block">Enter the products price</span>
                        <p style="color:red;" th:if="${#fields.hasErrors('price')}" th:errors="*{price}" color="red">Invalid Input</p>
                    </div>
                </div>

                <!-- Stock input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="stock">Stock:</label>
                    <div class="col-md-4">
                        <input required id="stock" name="stock" placeholder="100" th:field="*{stock}" min="0" max="99999" pattern="^[0-9]*$" class="form-control input-md" type="text">
                        <span class="help-block">Enter the number of available items.</span>
                        <p style="color:red;" th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}" color="red">Invalid Input</p>
                    </div>
                </div>

                <!-- URL input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="stock">URL:</label>
                    <div class="col-md-4">
                        <input required id="url" name="url" placeholder="default.png" th:field="*{url}" class="form-control input-md" type="text">
                        <span class="help-block">Enter the name and ending of the picture.</span>
                        <p style="color:red;" th:if="${#fields.hasErrors('url')}" th:errors="*{url}" color="red">Invalid Input</p>

                    </div>
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="button1id"></label>
                    <div class="col-md-8">
                        <button id="button1id" name="button1id" class="btn btn-success">Add</button>
                        <a th:href="@{all}" class="btn btn-danger">Cancel</a>
                    </div>
                </div>

            </fieldset>
        </form>

        <footer th:include="footer"></footer>
    </div>
</div>
</body>
</html>
