<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="header">

</head>
<body>
<title>Product Details</title>

<div class="container-wrapper ">

    <div class = "container">


        <div class="container">
            <h3 class="text-center">Detailed information of the product:</h3>
            <div class = "page-header"> </div>
            <div class="row">

                <div class="col-md-5">
                    <h4><strong>Name: </strong> <th:block th:text="${product.name != null} ? ${product.name} : 'error!'"></th:block></h4>
                    <p><strong>Producer: </strong><th:block  th:text="${product.producer != null} ? ${product.producer} : 'error!'"></th:block> </p>
                    <p><strong>Description: </strong> <th:block  th:text="${product.description != null} ? ${product.description} : 'error!'"></th:block></p>
                    <p><strong>Price: </strong><th:block  th:text="${product.price != null} ? ${product.price} + ' EUR' : 'error!'"></th:block></p>
                    <p><strong>In Stock: </strong> <th:block  th:text="${product.stock != null} ? ${product.stock} : 'error!'"></th:block></p>
                    <a class="btn btn-primary btn-lg" th:href="@{/product/all}" role="button"> Back</a>
                    <a class="btn btn-primary btn-lg" role="button" href="/images/default.png" th:href="@{/images/{id}(id=${product.url != null} ? ${product.url} : 'default.png')}" download> Download </a>
                </div>
                <div class="col-md-4">
                    <a href="/images/default.png" th:href="@{/images/{id}(id=${product.url != null} ? ${product.url} : 'default.png')}" download>
                    <img  src="../../static/images/default.png" th:src="@{/images/{id}(id=${product.url != null} ? ${product.url} : 'default.png')}" alt="image" style="width: 300px; height: 300px">
                    </a>
                </div>



            </div>
        </div>



        <footer th:include="footer"></footer>
    </div>
</div><!-- /.container -->
</body>
</html>
