<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="header">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Custom styles for carousel template -->
    <link href="../static/css/carousel.css" rel="stylesheet" th:href="@{/css/carousel.css}">

    <link rel="stylesheet" href="../static/css/demo.css" th:href="@{/css/demo.css}">
    <link rel="stylesheet" href="../static/css/header-login-signup.css" th:href="@{/css/header-login-signup.css}">
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/sprites.css" th:href="@{/css/sprites.css}" type="text/css">

</head>

<body>

<header class="header-login-signup">

    <div class="header-limiter">

        <h1><a href="/index.html" th:href="@{/shop}">DDW<span>Platform</span></a></h1>

        <nav>
            <a href="/index.html" th:href="@{/shop}">Home</a>
            <a href="/product/showAllProducts.html" th:href="@{/product/all}">Products</a>
            <a href="users/edit.html" th:unless="${#lists.isEmpty(currentUser)}" th:href="@{/user/{id}(id = ${currentUser.id})}">Edit data</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/users} ">Users</a>




        </nav>


        <ul>
            <!--- Could use this too:<div sec:authorize="isAuthenticated()"> -->
            <div th:unless="${#lists.isEmpty(currentUser)}">

                <a  th:text="'Welcome, ' + ${#authentication.name}"  href="users/edit.html" th:href="@{/user/{id}(id = ${currentUser.id})}" ></a>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="glyphicon glyphicon-star"></div>
                </th:block>
                <th:block sec:authorize="hasRole('ROLE_USER')" >
                    <div class="glyphicon glyphicon-user"></div>
                </th:block>
                <th:block sec:authorize="hasRole('ROLE_EMPLOYEE')" >
                    <div class="glyphicon glyphicon-sunglasses"></div>
                </th:block>
            </div>
        </ul>



        <ul>

            <li><a href="/users/login" th:href="@{/login}" th:if="${#lists.isEmpty(currentUser)}">Login</a></li>
            <li> <a th:href="@{/logout}" th:value="logout" th:unless="${#lists.isEmpty(currentUser)}">Logout</a> </li>
            <li><a href="/users/register" th:href="@{/register}" th:if="${#lists.isEmpty(currentUser)}">Sign up</a></li>

        </ul>

    </div>

</header>
</body>

</html>
